.footer {
    background-color: $DarkBlue;
    color: $White;
    padding: 2.5rem;
    text-align: center;

    @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 2fr;
        grid-template-areas: "" ;
    }

    a {
        color: $White;

        &:hover {
            color: $LimeGreen;
        }
    }


    &__logo {
        margin-bottom: 1.875rem;
        display: inline-block;
    }


    &__social {
        margin-bottom: 1.875rem;  

        a {
            margin-bottom: 0.75rem;
        }

        &:hover {
            color: $LimeGreen;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            margin-bottom: 1.875rem;  
            line-height: 2.25;
        }

        &.col1{

        }

        &.col2{

        }

        &__button {
            margin-bottom: 1.875rem;
        }
    }



    &__copyright {

    }
}